<article class="resrv">
    <h3 class="resrv-name">%SERVICE% da %STAFF%</h3>
    <div class="resrv-desc">
        <p>
            <span class="resrv-desc-line">
                Il %DAY% alle %HOUR_START% per %DURATION% minuti
            </span>
            <span class="resrv-desc-line">
                Prezzo: <span class="resrv-price">%PRICE%€</span>
            </span>
            <span class="resrv-desc-line">
                Richiesto da: <span class="resrv-price">%CUSTOMER%</span>
            </span>
        </p>
    </div>
    <div>
        <form action="/staff/pending.php" method="POST">
            <input type="hidden" name="reservation" value="%ID%" />
            <input type="hidden" name="action" value="ACCEPT" />
            <input type="submit" value="Conferma" />
        </form>
        <form action="/staff/pending.php" method="POST">
            <input type="hidden" name="reservation" value="%ID%" />
            <input type="hidden" name="action" value="REJECT" />
            <input type="submit" value="Rifiuta" />
        </form>
    </div>
</article>