<article class="resrv">
    <h3 class="resrv-name">%SERVICE% da %STAFF%</h3>
    <span class="resrv-desc">
        <p>
            Il %DAY% alle %HOUR_START% per %DURATION% min
        </p>
        <p>
            Prezzo <span class="resrv-price">%PRICE%€</span>
        </p>
        <p>
            Richiesto da <span class="resrv-price">%CUSTOMER%</span>
        </p>
    </span>
    <span class="resrv-cntrls">
        <form action="/staff/pending.php" method="POST">
            <input type="hidden" name="reservation" value="%ID%" />
            <input type="hidden" name="action" value="ACCEPT" />
            <input type="submit" value="Conferma" />
        </form>
        <form action="/staff/pending.php" method="POST">
            <input type="hidden" name="reservation" value="%ID%" />
            <input type="hidden" name="action" value="REJECT" />
            <input type="submit" value="Rifiuta" />
        </form>
    </span>
</article>