<div class="servizio">
    <h3>%NOME%</h3>
    <ul class="info-servizio">
        <li class="prezzo">%PREZZO% €</li>
        <li class="descrizione">%DESCRIZIONE%</li>
        <li class="durata">(%DURATA% minuti)</li>
    </ul>
    <div>
        <a href="edit_servizio.php?id=%ID%">Vai alla modifica </a>
        <form action="edit_listino_%TYPE%.php" method="POST">
            <input type="hidden" name="servizio" value="%ID%" />
            <input type="hidden" name="action" value="DELETE" />
            <input type="submit" value="Elimina" />
        </form>
    </div>
</div>