<table id="orari-apertura" title="Tabella rappresentante gli orari di apertura della barbieria.">
    <caption>Orari di apertura</caption>
    <thead>
        <tr>
            <th scope="col" abbr="Lun">Lunedì</th><th scope="col" abbr="Mar">Martedì</th><th scope="col" abbr="Mer">Mercoledì</th><th scope="col" abbr="Gio">Giovedì</th><th scope="col" abbr="Ven">Venerdì</th><th scope="col" abbr="Sab">Sabato</th><th scope="col" abbr="Dom">Domenica</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td headers="lunedì" data-title="Lunedì">%DAY_0%</td><td headers="martedì" data-title="Martedì">%DAY_1%</td><td headers="mercoledì" data-title="Mercoledì">%DAY_2%</td><td headers="giovedì" data-title="Giovedì">%DAY_3%</td><td headers="venerdì" data-title="Venerdì">%DAY_4%</td><td headers="sabato" data-title="Sabato">%DAY_5%</td><td headers="domenica" data-title="Domenica">%DAY_6%</td>
        </tr>
    </tbody>
</table>