<table id="orari-apertura" title="Tabella rappresentante gli orari di apertura della barbieria.">
    <caption>Orari di apertura</caption>
    <thead>
        <tr>
            <th scope="col" abbr="Lun">Lunedì</th><th scope="col" abbr="Mar">Martedì</th><th scope="col" abbr="Mer">Mercoledì</th><th scope="col" abbr="Gio">Giovedì</th><th scope="col" abbr="Ven">Venerdì</th><th scope="col" abbr="Sab">Sabato</th><th scope="col" abbr="Dom">Domenica</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>%DAY_0%</td><td>%DAY_1%</td><td>%DAY_2%</td><td>%DAY_3%</td><td>%DAY_4%</td><td>%DAY_5%</td><td>%DAY_6%</td>
        </tr>
    </tbody>
</table>