<table id="orari-apertura" title="Tabella rappresentante gli orari di apertura della barbieria.">
    <caption>Orari di apertura</caption>
    <thead>
        <tr>
            <th scope="col" abbr="Lun">Lunedì</th><th scope="col" abbr="Mar">Martedì</th><th scope="col" abbr="Mer">Mercoledì</th><th scope="col" abbr="Gio">Giovedì</th><th scope="col" abbr="Ven">Venerdì</th><th scope="col" abbr="Sab">Sabato</th><th scope="col" abbr="Dom">Domenica</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>%MON%</td><td>%TUE%</td><td>%WED%</td><td>%THU%</td><td>%FRI%</td><td>%SAT%</td><td>%SUN%</td>
        </tr>
    </tbody>
</table>