<!DOCTYPE html>
<html lang="it"> 
<head>
    <meta charset="utf-8" />
    %META_INDEX%
    <meta name="language" content="italian it" />
    <meta name="author" content="Francesco Bacchin, Matteo Bellato, Leila Dardouri, Dario Furlan" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="/static/img/icona.png" />
    <link rel="stylesheet" type="text/css" href="/index.css" />
    <link rel="stylesheet" media="print" href="/print.css" />
    <title>%TITLE%</title>
</head>
<body>
%HEADER%
    <main id="salta-al-contenuto">
        %MAIN%
    </main>
    %FOOTER%
    <div id="floating-btn">
        <a href="#menu">
            <img src="/static/img/arrow_up.png" alt="Torna al menù" />
        </a>
    </div>
</body>
</html>