<!DOCTYPE html>
<html>
<head>
    <meta name="title" content="%TITLE%" />
    <meta name="description" content="%DESCRIPTION%" />
    <meta name="keywords" content="%KEYWORDS%" />
    <meta name="language" content="italian it" />
    <meta name="author" content="Francesco Bacchin, Matteo Bellato, Leila Dardouri, Dario Furlan" />

    <title>%TITLE%</title>
</head>
<body>
    %HEADER%
    <main>
        %MAIN%
    </main>
    %FOOTER%
    <div id="floating-btn">
        <a href="#menu">Clicca per tornare al menù</a>
    </div>
</body>
</html>