<div>
	
	<div class="form-block">
		<form id="login-form" action="accedi.php" method="POST" aria-label="Accesso">
			<h2>Accedi</h2>
			<fieldset class="dati-login">
				<legend>Dati di accesso:</legend>
				<span>
					<label for="mail">Email</label> <span id="email-error" class="error"></span>
					<input type="text" placeholder="Inserisci l'email" %MAILP% name="mail" id="mail"  required />
				</span>
				<span>
					<label for="password">Password</label>
					<input type="password" placeholder="Inserisci la password" name="password" id="password" required  />
				</span>
			</fieldset>
			<span class="accedi-errore">%ERRORE%</span>
			<input type="submit" value="Entra!" id="login" name="submit"/>
		</form>
	</div>
	<a class="registrati" href="./registrati.php">Non sei ancora registrato? Clicca qui!</a>

	
</div>