<div id="content">
    <h2>Contatti</h2>
    <ul>
        <li>Indirizzo: Via Trieste, 63, 35121 Padova PD</li>
        <li>Numero di telefono: 049 123456</li>
        <li>Mail: <a href="mailto:contattaci@scissorhands.it">contattaci@scissorhands.it</a></li>
    </ul>

    %ORARIAPERTURA%
    
    <div style="width: 100%"><iframe width="100%" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?width=100%25&amp;height=400&amp;hl=en&amp;q=Via%20Trieste,%2063,%2035121%20Padova%20PD+(Barbieria%20Scissorhands)&amp;t=&amp;z=17&amp;ie=UTF8&amp;iwloc=B&amp;output=embed"><a href="https://www.gps.ie/sport-gps/">fitness tracker</a></iframe></div>
</div>