<section id="info-contatti">
    <h2>Contatti</h2>
    <ul>
        <li>Indirizzo: Via Trieste, 63, 35121 Padova PD</li>
        <li>Numero di telefono: 049 123456</li>
        <li>Mail: <a href="mailto:contattaci@scissorhands.it">contattaci@scissorhands.it</a></li>
    </ul>
    %ORARIAPERTURA%
    <img id="mappa" src="/static/img/mappa.jpeg" alt="Il negozio si trova a 150 metri da un ampio parcheggio, dotato di posti disabili. Ci trovate accanto al dipartimento di matematica dell'Università di Padova." />
</section>