<section id="Gallery" aria-label="Gallery">
    <header><h1><span lang="en">Gallery</span></h1></header>
    <div id="img-container">
        <img src= "img/lavaggiocapelli1.jpg" alt="Lavaggio di capelli nel lavatesta a ragazzo con la barba">
        <img src= "img/lavaggiocapelli2.jpg" alt="Lavaggio di capelli nel lavatesta a ragazzo con capelli afro e con la barba">
        <img src= "img/modellazionecapelli1.jpg" alt="Modellazione dei capelli con phone e spazzola a ragazzo con la barba e ciuffo all'insù">
        <img src= "img/modellazionecapelli2.jpg" alt="Taglio con rasatura laterale e disegno">
        <img src= "img/modellazionecapelli3.jpg" alt="Modellazione dei capelli con phone e spazzola a ragazzo con la barba e ciuffo all'indietro">
        <img src= "img/tagliobarba1.jpg" alt="Accorciatura della barba con macchinetta a signore">
        <img src= "img/tagliobarba2.jpg" alt="Sistemazione della barba con forbici a ragazzo">
        <img src= "img/tagliocapelli1jpg.jpg" alt="Taglio di capelli a ragazzo con la barba ">
        <img src= "img/tagliocapelli2.jpg" alt="Taglio di capelli a bambino">
    </div>
</section>
