<section id="Gallery" aria-label="Gallery"> <!--Serve?-->
    <header>    <!--Serve?-->
        <h2><span lang="en">Galleria</span></h2>
    </header>
    <div id="img-container">
        <img src= "/static/img/modellazionecapelli2.jpg" alt="Taglio corto di un ragazzo, con tipologia di barba aziendale"/>
        <img src= "/static/img/tagliobarba2.jpg" alt="Esecuzione del taglio della barba con forbici, lunghezza media"/>
        <img src= "/static/img/tagliobarba1.jpg" alt="Rasatura della barba con lama mentre il cliente tiene la testa poggiata sul poggiatesta di una delle nostre poltrone reclinabili"/>
        <img src= "/static/img/modellazionecapelli1.jpg" alt="Modellazione all'insù del ciuffo con asciugacapelli"/>
        <img src= "/static/img/salone1.jpg" alt="Una delle nostre poltrone: imbottite, con lo schienale regolabile, e i braccioli e il poggiapiedi rimovibili"/>
        <img src= "/static/img/salone2.jpg" alt="Alice, dipendente del negozio, che miscela nel nostro laboratorio le tinte. Ci sono tante confezioni di tinte di colori diversi"/>
        <img src= "/static/img/salone3.jpg" alt="L'attrezzatura viene disinfettata con una soluzione alcolica apposita"/>
        <img src= "/static/img/lavaggiocapelli1.jpg" alt="Lavaggio di capelli nel lavatesta reclinabile a ragazzo con capelli afro e con la barba" />
        <img src= "/static/img/tagliocapelli2.jpg" alt="Esecuzione di un taglio di capelli con forbici con un ciuffo corto a un ragazzo con barba molto folta"/>
        <img src= "/static/img/tagliocapelli1.jpg" alt="Sistemazione dei capelli di un ragazzo con un taglio più corto sui lati, dei suoi lunghi baffi e della barba di media lunghezza"/>
    </div>
</section>
