<section id="benvenuto">
        <h2>Benvenuto dal tuo barbiere in centro a Padova!</h2>
    <div class="img-wrap">
        <div class="content">
            <p>
               Uno spazio dove rilassarti e curare il tuo <span lang="en">look</span>.
            </p>
            %ORARIAPERTURA%
            <span><a href="guest_prenota.php" id="link-prenota">Prenota subito!</a></span>
        </div>
    </div>
</section>
<a href="#salta-al-contenuto" class="per-sr">Torna a inizio pagina</a>
<section id="misureSicurezza">
    <h2>Misure contro <abbr title="Coronavirus disease 2019">Covid-19</abbr></h2>
    <p>Con noi sei in sicurezza! Per contenere la diffusione del virus <abbr title="Coronavirus disease 2019">Covid-19</abbr>, <span lang="en">Scissorhands</span> e i suoi dipendenti si
        impegnano a:</p>
    <ul>
        <li>controllare il <span lang="en"><strong>green pass</strong></span>;</li>
        <li>misurare la <strong>temperatura</strong> di ogni cliente all'ingresso;</li>
        <li>indossare sempre le <strong>mascherine FFP2</strong>;</li>
        <li>usare esclusivamente <strong>mantelline monouso</strong>;</li>
        <li><strong>disinfettare</strong> la postazione e i materiali dopo ogni servizio;</li>
        <li>sanificare periodicamente con un <strong>purificatore per l'aria</strong>.</li>
    </ul>
</section>