<div id="breadcrumb">
    %BREADCRUMB%
</div>

<div class="descrizione">
    <h2>Benvenuto nella barbieria <span lang="en">Scissorhands</span>!</h2>
    Uno spazio dedicato a soli uomini, dove rilassarsi e curare il proprio <span lang="en">look</span>. <br>
    L'esperienza, ormai ventennale, dei nostri tre barbieri ti aiuterà a scegliere il taglio adatto e ti farà scoprire i segreti per una barba perfetta. <br>
    Siamo aperti dal lunedì al sabato, vieni a trovarci a Padova via ...... (<a href="">Maggiori informazioni su orari</a>). <br>
    Legati fin da ragazzi per la passione del barbiere, Nome barbiere 1, Nome barbiere 2, Nome barbiere 3, hanno deciso di fare della propria passione un lavoro
    aprendo questo salone 10 anni fa.
    La massima qualità nei servizi offerti e un rapporto d'amicizia con ogni cliente sono le solide basi su cui si basa <span lang="en">Scissorhands</span>. <br>
    <a href="">Maggiori informazioni.</a>  
</div>

<div class="misureSicurezza">
    <h2>Misure contro Covid-19</h2>
    Con noi sei in sicurezza! Per contenere la diffusione del virus Covid-19, Scissorhands e i suoi dipendenti si impegnano a:
    <ul>
        <li>Usare esclusivamente mantelline monouso</li>;
        <li>Misurare la temperatura ad ogni cliente all'entrata</li>
        
    </ul>
</div>