<section id="benvenuto" aria-label="Benvenuto">
    <header>
        <h2>Benvenuto!</h2>
    </header>
    <div class="img-wrap">
        <div class="content">
            <p>
                Uno spazio dedicato a te, dove rilassarti e curare il tuo <span lang="en">look</span>.
            </p>
            %ORARIAPERTURA%
            <a href="/book.php" id="link-prenota">Prenota subito!</a>
        </div>
    </div>
</section>

<section id="misureSicurezza" aria-label="misure sicurezza">
    <h2>Misure contro <abbr title="Coronavirus disease 2019">Covid-19</abbr></h2>
    <p>Con noi sei in sicurezza! Per contenere la diffusione del virus <abbr title="Coronavirus disease 2019">Covid-19</abbr>, <span lang="en">Scissorhands</span> e i suoi dipendenti si
        impegnano a:</p>
    <ul>
        <li>controllare il <span lang="en"><strong>green pass</strong></span>;</li>
        <li>misurare la <strong>temperatura</strong> di ogni cliente all'ingresso;</li>
        <li>indossare sempre le <strong>mascherine FFP2</strong>;</li>
        <li>usare esclusivamente <strong>mantelline monouso</strong>;</li>
        <li><strong>disinfettare</strong> la postazione e i materiali dopo ogni servizio;</li>
        <li>sanificare periodicamente con un <strong>purificatore per l'aria</strong></li>
    </ul>
</section>