<div>

	<script>

		function onEmail(evt) {
			if (!/^([\w-+.]+)@([\w-+.]+).([\w-+.]+)$/.test(evt.target.value)) 
				evt.target.parentElement.classList.add("error") 
			else 
				evt.target.parentElement.classList.remove("error")
		}

		function onPw(evt){
			// Minimum eight characters, at least one letter and one number:
			if (!/^(?=.*[A-Za-z])(?=.*\d)[A-Za-z\d]{8,}$/.test(evt.target.value))
				evt.target.parentElement.classList.add("error") 
			else 
				evt.target.parentElement.classList.remove("error")
		}

		function pwCheck(evt)
		{
			if(document.getElementById("password").value !== document.getElementById("password_rep").value)
			{	
				evt.target.parentElement.classList.add("error");
				document.getElementById('Registrati').disabled = true;
			}
			else
			{
				evt.target.parentElement.classList.remove("error");
				document.getElementById('Registrati').disabled = false;
			}
		}
	 
	</script>

	<h2>Registrati</h2>
	<form action="registrati.php" method="get">
		<fieldset>

			<label for="name">Nome</label>
			<input name="name" id="name" minlength="1" maxlength="50" required>

			<label for="surname">Cognome</label>
			<input name="surname" id="surname" minlength="1" maxlength="50" required>

			<label for="sex">Sesso</label>
			<select name="sex" id="sex">
				<option>Uomo</option>
				<option>Donna</option>
			</select>
		</fieldset>
		<fieldset class="dati-login ">
			<span>
				<label for="mail">Mail</label>
				<input oninput="onEmail(event);" name="mail" id="mail" type="email">
			</span>
			<span>
				<label for="password">Password
					<span class="input-hint">(Minimo 8 caratteri, tra cui almeno una lettera e un numero)</span>
				</label>
				<input name="password" id="password" type="password" oninput="onPw(event);" required>
			</span>
			<span>
				<label for="password_rep">
					Ripeti la password
					<span class="input-hint">Password Non Corrisponde</span>
				</label>
				<input name="password_rep" id="password_rep" type="password" required oninput="pwCheck(event);">
			</span>
		</fieldset>
		<input type="submit" value="Registrati" id="Registrati" disabled>

	</form>

</div>