<div>
	<h2>Registrati</h2>
	<div class="form-block">
		<em>%MESSAGGIO%</em>
		<p>Tutti i campi sono obbligatori.</p>
		<form id="registrazione-form" action="registrati.php" method="POST" aria-label="Registrazione">
			<div id="noscript">
				Requisiti password:
				<ul>
					<li>nove caratteri.</li>
					<li>una maiuscola.</li>
					<li>una minuscola.</li>
					<li>un numero.</li>
				</ul>
			</div>
			<fieldset class="dati-personali">
				<legend>Dati personali:</legend>
				<span>
					<label for="name">Nome</label> <span class="error" id="name-error"></span>
					<input placeholder="Inserisci il nome" %NOMEP% name="name" id="name" minlength="1" maxlength="50" onkeyup="sanitizeField('name');" onclick="clearIfError('name');" onblur="aria_sanitizeField('name');" required />
				</span>
				<span>
					<label for="surname">Cognome</label> <span id="surname-error" class="error"></span>
					<input placeholder="Inserisci il cognome" %COGNOMEP% name="surname" id="surname" minlength="1" maxlength="50" onkeyup="sanitizeField('surname');" onclick="clearIfError('surname');" onblur="aria_sanitizeField('surname');" required />
				</span>
			</fieldset>
			<fieldset class="dati-registrazione">
				<legend>Dati di accesso:</legend>
				<span>
					<label for="mail">Email</label> <span id="mail-error" class="error"></span>
					<input placeholder="Inserisci l'email" %MAILP% oninput="onEmail(event);" onblur="aria_onEmail(event);" name="mail" id="mail" type="email" required/>
				</span>
				<span>
					<label for="password">Password</label> <span id="pw-error" class="error"></span>
					<input placeholder="Inserisci la password" name="password" id="password" type="password" oninput="onPw();" oninput="pwCheck();" onblur="aria_onPw(event);"  required />
				</span>
				<span>
					<label for="password_rep">Ripeti la password</label> <span id="pwrep-error" class="error"></span>
					<input placeholder="Ripeti la password" name="password_rep" id="password_rep" type="password" required oninput="pwCheck();" onblur="aria_pwCheck();"/>
				</span>
			</fieldset>
			<input type="submit" value="Registrati" id="Registrati" name="submit" onclick="preventSubmit(event);"/>
		</form>
	</div>
	<script src="registrati.js"></script>
</div>