<div id="content">
    <h1>I nostri servizi</h1>
    <div class="box">
        <h2>Capelli</h2>
        <p>Eseguiamo tagli con forbici, macchinetta e lama a mano libera, seguendo tecniche tradizionali o le più innovative e usando sempre e solo prodotti antiallergici ed ecosostenibili. <a href="listino_capelli.php">Vai al listino prezzi per i capelli.</a></p>
        <div class="forbici"></div> <!-- Da rimpiazzare con l'immagine. Il testo alternativo non va messo per immagini decorative -->
    </div>

    <div class="box">
        <h2>Barba</h2>
        <p>Ci occupiamo di barbe di tutte le lunghezza, con la stessa cura di sempre. Offriamo servizi di regolazione veloce o completa, per poterti servire in tutte le tue giornate: dalla più frenetica a quella di pieno relax. <a href="listino_barba.php">Vai al listino prezzi per la barba.</a></p>
        <div class="lametta"></div>
    </div>
</div>
