<h2>I nostri servizi</h2>
    <section class="spiegazione-servizi">
        <div class="box-capelli">
            <h3>Capelli</h3>
            <p>Eseguiamo tagli con forbici, macchinetta e lama a mano libera, seguendo le tecniche tradizionali o innovative e usando sempre e solo prodotti anallergici ed ecosostenibili. <a href="listino_capelli.php">Vai al listino prezzi dei servizi per i capelli.</a></p>
        </div> 
        <div class="capelli"></div>            
        <div class="barba"></div>
            <div class="box-barba">
                <h3>Barba</h3>
                <p>Ci occupiamo di barbe di tutte le lunghezza. Offriamo servizi di regolazione veloce o completa, per poterti servire in tutte le tue giornate: dalla più frenetica a quella di pieno relax. <a href="listino_barba.php">Vai al listino prezzi dei servizi per la barba.</a></p>
            </div>
    </section>
