<div class="staff-containter">
    <h2>Lo staff</h2>
        <article class="staff">
            <img id="imgEdoardoCoppola" src="/static/img/edoardo.jpg" alt="Foto di Edoardo Coppola" />
            <div> 
                <h3>Edoardo Coppola</h3>
                <p>Classe 1980, decide di voler diventare un barbiere quando da bambino vede il suo ormai film preferito "Edward mani di forbice", da cui il nome del negozio (<span xml:lang="en">Scissorhands</span> significa "mani di forbice" in inglese). Si diploma alla <span xml:lang="en">Hair Stylist Academy</span> e inizia la sua esperienza presso numerosi studi in diverse parti del mondo. Entra così a contatto con <strong>diverse culture e le più varie e innovative tecniche per la cura del capello</strong>. Tuttavia, <strong>nel 2011 decide di aprire il proprio studio</strong> perché sente il bisogno di avere un proprio spazio dove racchiudere tutto ciò che aveva scoperto. Ogni anno svolge corsi di aggiornamento per garantire ai propri clienti il trattamento e i <strong>prodotti migliori sul mercato</strong>, con <strong>l'obiettivo di rendere il prendersi cura di sé accessibile a tutti</strong>. </p>            
            </div>
        </article>

        <article class="staff">
            <img id="imgRobertoFortuna" src="/static/img/roberto.jpg" alt="Foto di Roberto Fortuna" />
            <div>
            <h3>Roberto Fortuna</h3>
            <p>Classe 1985, <strong>collabora con Edoardo dalla nascita di <span xml:lang="en">Scissorhands</span></strong>. Anche lui scopre questa passione da bambino, ereditandola da suo nonno, sempre attento alla cura della sua lunga barba. Si diploma alla <span xml:lang="en">Barber Academy</span> e <strong>si specializza in cura della barba</strong>; nonostante ciò, sa realizzare capolavori anche con i capelli. È anche un <strong>consulente d'immagine certificato</strong>, nonché la persona giusta a cui rivolgervi per consigli nel caso in cui voleste <strong>rivoluzionare il vostro stile</strong>.</p>
            </div>
        </article>

        <article class="staff">
            <img id="imgAliceValli" src="/static/img/alice.jpg" alt="Foto di Alice Valli" />
            <div>
                <h3>Alice Valli</h3>
                <p>Classe 1989, non c’è colore che non sappia realizzare. Si distingue in accademia per il suo occhio molto attento, è infatti <strong>in grado di realizzare qualsiasi tonalità di colore</strong>. Adora il cambiamento, per questo è raro riuscire a vederla due volte di fila con lo stesso colore di capelli, ma non fatevi spaventare dalle combinazioni strambe che sperimenta su di sé: è una <strong>grande ascoltatrice</strong> e promette che <strong>seguirà sempre le vostre indicazioni, sia nei tagli che nei colori</strong>.</p>
            </div>
        </article>
</div>