<div class="staff-containter">
    <h2>Lo staff</h2>
    <article class="staff">
        <div class="foto-staff" id="imgEdoardoCoppola"></div>
        <div class="info-staff"> 
            <h3>Edoardo Coppola</h3>
            <p>Classe 1980. Decide di voler diventare un barbiere da bambino, quando vede il suo film preferito "Edward mani di forbice"; da cui deriva il nome del negozio ("<span lang="en">Scissorhands</span>" significa "mani di forbice" in inglese). Si diploma alla <span lang="en">Hair Stylist Academy</span> e inizia la sua esperienza presso numerosi studi in diverse parti del mondo. Entra così a contatto con <strong>diverse culture e le più varie e innovative tecniche per la cura del capello</strong>. Nel 2011 decide di aprire il <strong>proprio negozio a Padova</strong>, dove racchiudere tutto ciò che ha scoperto. Ogni anno svolge corsi di aggiornamento per poter offrire ai clienti il trattamento e i <strong>prodotti migliori sul mercato</strong>.</p>
        </div>
    </article>

    <article class="staff">
        <div class="foto-staff" id="imgRobertoFortuna"></div>
        <div class="info-staff">
           <h3>Roberto Fortuna</h3>
            <p>Classe 1985. <strong>Collabora con Edoardo dalla nascita di <span lang="en">Scissorhands</span></strong>. Anche lui scopre questo mondo da bambino, ereditando la passione dal nonno, sempre attento alla cura della sua lunga barba. Si diploma alla <span lang="en">Barber Academy</span> e <strong>si specializza in cura della barba</strong>, ma è un maestro anche con i capelli. È inoltre un <strong>consulente d'immagine certificato</strong>: la persona giusta a cui rivolgervi per consigli, nel caso in cui voleste <strong>rivoluzionare il vostro stile</strong>.</p>
        </div>
    </article>

    <article class="staff">
        <div class="foto-staff" id="imgAliceValli"></div>
        <div class="info-staff">
            <h3>Alice Valli</h3>
            <p>Classe 1989. Non c’è colore che non sappia realizzare. Si distingue in accademia per il suo occhio molto attento, è infatti <strong>in grado di realizzare qualsiasi tonalità di colore</strong>. Adora il cambiamento, per questo è raro riuscire a vederla due volte di fila con lo stesso colore di capelli. Non fatevi spaventare dalle combinazioni strambe che sperimenta su di sé: è una <strong>grande ascoltatrice</strong> e promette che <strong>seguirà sempre le vostre indicazioni, sia nei tagli che nei colori</strong>.</p>
        </div>
    </article>
</div>