<div class="staff-containter">
    <h2>Lo staff</h2>
        <article class="staff">
            <img id="imgEdoardoCoppola" src="img/edoardo.jpg" alt="Foto di Edoardo Coppola" />
            <div> 
                <h3>Edoardo Coppola</h3>
                <p>Classe 1980, decide di voler diventare un barbiere quando da bambino vede il film "Edward mani di forbice", da cui il nome del negozio (<span xml:lang="en">Scissorhands</span> significa "mani di forbice" in inglese). Si diploma alla <span xml:lang="en">Hair Stylist Academy</span> e inizia a lavorare presso il noto studio di Enzo Parisi, che gli farà da mentore. In quel periodo ha l’opportunità di lavorare in diverse parti del mondo, entrando così a contatto con le più varie e innovative tecniche per la cura del capello. Tuttavia, nel 2011 decide di aprire il proprio studio perché sente il bisogno di avere un proprio spazio dove esprimere tutto ciò che aveva imparato. Ogni anno svolge corsi di aggiornamento per garantire ai propri clienti il trattamento e i prodotti migliori sul mercato, con l’obiettivo di rendere il prendersi cura di sé accessibile a tutti. </p>            
            </div>
        </article>

        <article class="staff dx">
            <img id="imgRobertoFortuna" src="img/roberto.jpg" alt="Foto di Roberto Fortuna" />
            <div>
            <h3>Roberto Fortuna</h3>
            <p>Classe 1985, collabora con Edoardo dalla nascita di <span xml:lang="en">Scissorhands</span>. Anche lui scopre questa passione da bambino, ereditandola da suo nonno, sempre attento alla cura della sua lunga barba. Si diploma alla <span xml:lang="en">Barber Academy</span> e si specializza in cura della barba; nonostante ciò, sa realizzare capolavori anche con i capelli. È anche un consulente d’immagine certificato, nonché la persona giusta a cui rivolgervi per consigli nel caso in cui voleste rivoluzionare il vostro stile.</p>
            </div>
        </article>

        <article class="staff">
            <img id="imgAliceValli" src="img/alice.jpg" alt="Foto di Alice Valli" />
            <div>
                <h3>Alice Valli</h3>
                <p>Classe 1989, non c’è colore che non sappia realizzare. Si distingue in accademia per il suo occhio molto attento, è infatti in grado di realizzare qualsiasi tonalità di colore. Adora il cambiamento, per questo è raro riuscire a vederla due volte di fila con lo stesso colore di capelli, ma non fatevi spaventare dalle combinazioni strambe che sperimenta su di sé: è una grande ascoltatrice e promette che seguirà sempre le vostre indicazioni, sia nei tagli che nei colori.</p>
            </div>
        </article>
</div>