<div id="personal_page">
	Cambio Password:
	<form action="area_personale.php" method="get">
		<fieldset>
			<label for="password corrente">Password corrente</label>
			<input name="current_password" id="password" type="password" required>
			
			<label for="nuova password">Nuova password</label>
			<input name="new_password" id="password" type="password" required>
			
			<label for="conferma nuova password">Nuova password</label>
			<input name="confirm_new_password" id="password" type="password" required>
			
			<input type="submit" value="Cambia Password">
		</fieldset>
	</form>

	<form action="mostra_prenotazioni_passate.php" method="get">
	?????
	</form>
</div>