<div class="form-block">
	<form id="profile" action="profilo.php" method="POST">
		<h2>Cambio Password:</h2>
		<fieldset class="dati-cambio-password">
			<span>
				<label for="password corrente">Password corrente</label>
				<input name="current_password" id="current_password" type="password" required />
			</span>
			
			<span>
				<label for="nuova password">Nuova password</label>
					<span id="pw-error" class="error"></span>		
				<input name="new_password" id="new_password" type="password" required oninput="onPw(event);" onkeyup="pwCheck(event);"/>
			</span>

			<span>
				<label for="conferma nuova password">Ripeti nuova password</label>
					<span class="pwrep-error" class="error"></span>
				<input name="confirm_new_password" id="confirm_new_password" type="password" required onkeyup="pwCheck(event);" />
			</span>
			<input type="submit" value="Cambia Password" id="changepw">
			%MESSAGGIO%
		</fieldset>
	</form>

	<script src="profilo.js"></script>

</div>