<section class="reservations">
    <h2>Nuova prenotazione</h2>
    <p>Tutti i campi sono obbligatori.</p>
    <form method="GET" action="conferma.php" class="booking-form" id="new-book">
        <fieldset id="fieldset-service">
            <legend>Scegli il servizio</legend>
            %RADIOS_SERVICE%
        </fieldset>
        <fieldset id="fieldset-barber">
            <legend>Scegli il barbiere</legend>
            %RADIOS_STAFF%
        </fieldset>
        <input type="submit" id="conferma" value="Conferma" aria-disabled="true">
    </form>
    <script src="prenota.js"></script>
</section>