<div>
	<form action="registrazione.php" method="get">
		<fieldset>

			<label for="name">Nome</label>
			<input name="name" id="name" minlength="1" maxlength="50" required>

			<label for="surname">Cognome</label>
			<input name="surname" id="surname" minlength="1" maxlength="50" required>

			<label for="sex">Sesso</label>
			<select name="sex" id="sex">
				<option>Uomo</option>
				<option>Donna</option>
			</select>

			<label for="mail">Mail</label>
			<input name="mail" id="mail" type="email"> 

			<label for="password">Password</label>
			<input name="password" id="password" type="password" required>

			<label for="password_rep">Ripeti la password</label>
			<input name="password_rep" id="password" type="password" required>

			<input type="submit" value="Registrati"  id="Registrati">
		</fieldset>
	</form>

</div>	