body {
    letter-spacing: 0.075em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
}

header h1 {
    display: block;
    margin: auto;
    padding: 0em;
    border: 0em;
    margin-bottom: 0em;
    content: url('/static/img/logo_bscissorhands.png');
}



/*         MENU            */
nav#menu{
    padding: 0em;
    border: 0em;
    height: 0em;
    min-height: 0em;
}

nav#menu ul{
    display: none;
}

/*        BREADCRUMB      */


/*         FOOTER         */



/*     FLOATING BUTTON    */

div#floating-btn {
    display: none;
}


/*       MAIN              */

main {
    width: 50em;
}

/*       HOME        */


/*              ORARI               */


/*              FORM                */
input[type=submit]{
    color:black;
}

fieldset.dati-registrazione span.error,
fieldset.dati-login span.error,
fieldset.dati-personali span.error,
fieldset.dati-cambio-password span.error{
	color : red;
}

/*      PRENOTAZIONI    */
.resrv {
    box-shadow: none;
    border: 0.01em solid black;
}

/*          FIELDSET               */

/*          GALLERY           */

section#Gallery div#img-container img { 
    margin-bottom: 0.6em;
    box-shadow: none;
}

section#Gallery div#img-container {
    box-shadow: none;
}

/*              STAFF             */
article.staff>div.foto-staff {
    display: none;
}

.staff{
    font-size: 12.5pt;
}


/*              SERVIZI             */
div.barba{
    display: none;
}

div.capelli{
    width: 2cm;
}
/*              LISTINO             */
.servizio {
    border: 0.01em black solid;
}

/*              404 ERROR               */


/*              505 errore_connessione               */
div#ErroreConnessione>div.ErrConnImg {
    display: none;
}
/*              CONTATTI                */
