body {
    letter-spacing: 0.075em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
}

header h1 {
    display: block;
    margin: auto;
    padding: 0em;
    border: 0em;
    margin-bottom: 0em;
    content: url('static/img/logo_bscissorhands.png');
}

nav#menu{
    padding: 0em;
    border: 0em;
    height: 0em;
    min-height: 0em;
}

nav#menu ul{
    display: none;
}

div#floating-btn {
    display: none;
}

main {
    width: 50em;
}

input[type=submit]{
    color:black;
}
fieldset#modifica-ora span.error,
fieldset.dati-registrazione span.error,
fieldset.dati-registrazione div.error,
fieldset.dati-personali span.error,
fieldset.dati-cambio-password span.error,
fieldset.dati-cambio-password div.error,
fieldset.dati-servizio span.error{
	color : red;
}

.resrv {
    box-shadow: none;
    border: 0.01em solid black;
}

section#Gallery div#img-container>img { 
    margin-bottom: 0.6em;
    box-shadow: none;
}

section#Gallery div#img-container {
    box-shadow: none;
}

article.staff>div.foto-staff {
    display: none;
}

.staff{
    font-size: 12.5pt;
}

div.barba{
    display: none;
}

div.capelli{
    width: 2cm;
}

.servizio {
    border: 0.01em black solid;
}
