body {
    letter-spacing: 0.075em;
    font-family: 'Times New Roman', Times, serif;
    font-size: 12pt;
}

header h1 {
    display: block;
    margin: auto;
    padding: 0px;
    border: 0px;
    margin-bottom: 0px;
    content: url('/static/img/logo_bscissorhands.png');
}



/*         MENU            */
nav#menu{
    padding: 0px;
    border: 0px;
    height: 0px;
    min-height: 0px;
}

nav#menu ul{
    display: none;
}

/*        BREADCRUMB      */


/*         FOOTER         */



/*     FLOATING BUTTON    */

div#floating-btn {
    display: none;
}


/*       MAIN              */

main {
    width: 800px;
}

/*       HOME        */


/*              ORARI               */


/*              FORM                */
input[type=submit]{
    color:black;
}

/*      PRENOTAZIONI    */
.resrv {
    box-shadow: none;
    border: 1px solid black;
}

/*          FIELDSET               */

/*          GALLERY           */

section#Gallery div#img-container>img {
    margin-bottom: 10px;
    box-shadow: none;
}

section#Gallery div#img-container {
    box-shadow: none;
}

/*              STAFF             */


article.staff>img {
    width: 250px;
}

/*              SERVIZI             */

div.capelli {
    content: url('/static/img/hair_icon.png');
}

div.barba {
    content: url('/static/img/beard_icon.png');
}

/*              LISTINO             */
.servizio {
    border: 1px black solid;
}

/*              404 ERROR               */


/*              505 errore_connessione               */

div#ErroreConnessione>div.ErrConnImg {
    content: url('/static/img/network-error-icon.jpg');
    width: 250px;
    height: 250px;
    display: block;
    margin: auto;
}



/*              CONTATTI                */
